<div class="container">
  <div class="row">
    <div class="card-deck">
      <% whiskeys.forEach((whiskey) => { %>
        <div class="col-md-4 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="<%= whiskey.image %>" alt="<%= whiskey.brand %> <%= whiskey.variant %>">
          <div class="card-body">
            <h5 class="card-title"><%= whiskey.brand %> <%= whiskey.variant %></h5>
            <p class="card-text"><a href="/whiskeys/<%= whiskey.id %>" class="btn btn-primary">See More Detail</a></p>
          </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
