<h1><%= whiskey.brand %></h1>
<h2><%= whiskey.variant %></h2>
<h3><%= whiskey.type %></h3>
<img src="<%= whiskey.image %>" alt="<%= whiskey.brand %> <%= whiskey.variant %>" class="btl-img">
<p>This Whiskey originates from <%= whiskey.origin %> and the flavours you will experience are <%= whiskey.notes %></p>
<p>Age: <%= whiskey.age %> years old</p>
<p>ABV: <%= whiskey.abv %>%</p>
<p>Price: £<%= whiskey.price %></p>
<p>Created By: <%= whiskey.createdBy.username %></p>

<% if (locals.isLoggedIn) { %>
<button type="submit" value="Edit" class="btn btn-primary edit-btn"><a href="/whiskeys/<%= whiskey.id %>/edit">Edit</a></button>

<form action="/whiskeys/<%= whiskey.id %>" method="POST" class="delete-btn">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" value="Delete" class="btn btn-primary">Delete</button>
</form>
<% } else { %>

<p><em>Like what you see? Be part of a community and add Whiskeys for others on LuvWhiskey</em><a href="/register"><strong> - Register Here</strong></a></p>

<% } %>

<% whiskey.comments.forEach((comment) => { %>
  <p><%= comment.content %></p>
  <small><%= comment.createdBy.username %></small>

  <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
    <form method="POST" action="/whiskeys/<%= whiskey.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
  <% } %>
<% }) %>

<% if(locals.isLoggedIn) { %>
<section class="comment-form">
  <h4>Leave a comment</h4>
  <form method="POST" action="/whiskeys/<%= whiskey.id %>/comments">
    <textarea name="content" id="content" placeholder="Comment"></textarea>
    <button type="submit" class="btn btn-primary">Leave a comment</button>
    <% } else { %>
      <p><a href="/register">Register</a> or <a href="/login">Login to comment</a></p>
    <% } %>
  </form>
</section>
