<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 profile-box">
      <h2 class="username">Welcome, <strong><%= user.username %></strong>.</h2>
      <h3 class="mycomments">My Recently Added Whiskeys: </h3>
      <% whiskeys.forEach((whiskey) => { %>
        <% if (locals.isLoggedIn && whiskey.belongsTo(user)) { %>
          <div class="card-deck">
          <div class="col-md-8 offset-md-2">
            <div class="card profile-card">
              <div class="card-body">
                <h5 class="card-title"><strong><%= whiskey.brand %> <%= whiskey.variant %></strong></h5>
                <p class="card-text"><a href="/whiskeys/<%= whiskey.id %>" class="btn btn-primary btn-block">See More</a></p>
              </div>
            </div>
          </div>
          </div>
        <% }}) %>
    </div>
    <div class="col-md-6 col-sm-12 profile-whiskey">
      <h2>Whiskey of the Week</h2>
      <h3>This week we present: </h3>
      <div class="card-deck recommended">
        <div class="card">
          <% whiskeys.forEach((whiskey) => { %>
          <% if(whiskey.brand === "Dalmore" && whiskey.variant === "40 year old" && whiskey.age === 40 && whiskey.price === 6250) { %>
          <img class="card-img-top profile-rec" src="<%= whiskey.image %>" alt="<%= whiskey.brand %> <%= whiskey.variant %>">

          <div class="card-body">
            <h5 class="card-title"><%= whiskey.brand %></h5>
            <h6 class="card-title"><%= whiskey.variant %></h6>
            <a href="/whiskeys/<%= whiskey.id %>" class="btn btn-success">See More</a>
          </div>
          <% }}) %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 profile-fav">
          <h2>My Favourites</h2>
          <% user.favourites.forEach((whiskey) => { %>
          <div class="card-deck">
            <div class="col-12">
              <div class="card profile-card">
                <div class="card-body">
                  <h5 class="card-title"><strong><%= whiskey.brand %> <%= whiskey.variant %></strong></h5>
                  <p class="card-text"><a href="/whiskeys/<%= whiskey.id %>" class="btn btn-primary btn-block">See More</a></p>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>
