<div class="container">
  <div class="row">

    <div class="col-md-6 col-sm-12 profile-box">
      <h2 class="username">Welcome, <strong><%= user.username %></strong>.</h2>
      <h3 class="mycomments">My Recently Added Whiskeys: </h3>
      <% whiskeys.forEach((whiskey) => { %>
        <% if (locals.isLoggedIn && whiskey.belongsTo(user)) { %>
          <div class="card-deck">
          <div class="col-md-8 offset-md-2">
            <div class="card profile-card">
              <div class="card-body">
                <h5 class="card-title"><strong><%= whiskey.brand %> <%= whiskey.variant %></strong></h5>
                <p class="card-text"><a href="/whiskeys/<%= whiskey.id %>" class="btn btn-primary btn-block">See More</a></p>
              </div>
            </div>
          </div>
          </div>
        <% }}) %>
    </div>

    <div class="col-md-6 col-sm-12 profile-whiskey">
      <h2>Whiskey of the Week</h2>
      <h3>This week we present: </h3>
      <div class="card-deck recommended">
        <div class="card">
          <img class="card-img-top profile-rec" src="https://img.thewhiskyexchange.com/900/macob.non63.jpg" alt="macallan no6">
          <div class="card-body">
            <h5 class="card-title">Macallan</h5>
            <h6 class="card-title">No.6</h6>
            <a href="/whiskeys/5a5f98b7b4683cf6b23f0514 %>" class="btn btn-success">See More</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 profile-fav">
          <h2>My Favourites</h2>
          <% user.favourites.forEach((whiskey) => { %>
          <div class="card-deck">
            <div class="col-12">
              <div class="card profile-card">
                <div class="card-body">
                  <h5 class="card-title"><strong><%= whiskey.brand %> <%= whiskey.variant %></strong></h5>
                  <p class="card-text"><a href="/whiskeys/<%= whiskey.id %>" class="btn btn-primary btn-block">See More</a></p>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>

    </div>
  </div>
</div>
